.nav-link {
    font-size: 18px;
    color: var(--secondary-font-color);
}

.main-navigation {
    div {
        border-bottom: 1px solid var(--border-color);
    }
}
.nav-end {
    border-bottom: 1px solid var(--border-color);
}

.link-active {
    position: relative;
    color: var(--secondary-color);
}
.link-active::after {
    content: "";
    width: 100%;
    height: 1px;
    bottom: -9px;
    left: 0;
    position: absolute;
    border-bottom: 1px solid var(--secondary-color);
}

.main-recent {
    margin-top: 60px;
}

.recent-title {
    margin-bottom: 50px;
}
.main-slider {
    margin: 20px 0px;
}
