<div class="cart">
  <div class="container">
    <div class="cart-title">
      Корзина <span class="cart-info">2 товара</span>
    </div>
    <div class="cart-table">
      <div class="table-row d-flex align-items-center justify-content-between">
        <div class="row-image">
          <img src="/assets/testcart.png" alt="" />
        </div>
        <div class="row-info">
          <div class="info-id">ID: 42223</div>
          <div class="info-title">
            Мышь Logitech G Pro X Superlight 55 SMART TV Super
          </div>
          <div class="info-subtitle">
            Беспроводная оптическая, 800dpi, USB, цвет: черный
          </div>
        </div>
        <div class="row-controls counter">
          <div class="control">
            <svg-icon src="/assets/minus.svg"></svg-icon>
          </div>
          <div class="control-result">1</div>
          <div class="control">
            <svg-icon src="/assets/plus.svg"></svg-icon>
          </div>
        </div>
        <div class="row-price">2400 ₽</div>
        <div class="row-controls user">
          <div class="control">
            <!-- heart -->
            <svg-icon src="/assets/heart.svg"></svg-icon>
          </div>
          <div class="control">
            <!-- trashcan -->
            <svg-icon src="/assets/trashcan.svg"></svg-icon>
          </div>
        </div>
      </div>
      <div class="cart-result">
        Итого к оплате:
        <span> 25000 ₽ </span>
      </div>
    </div>
    <div class="cart-form">
      <h1 class="form-title">Оформление заказа</h1>
      <form action="">
        <div class="toggler">
          <div class="form-controls">
            <div class="control-title">Покупатель</div>
            <div class="control-items">
              <div class="item active">Частное лицо</div>
              <div class="item">Организация</div>
            </div>
          </div>
        </div>
        <div class="usercontacts">
          <div class="contacts">
            <div class="contacts-title">Контактные данные</div>
            <div class="contacts-fields">
              <div class="user-fields">
                <input type="text" placeholder="ФИО*" />
                <input type="text" placeholder="Телефон*" />
                <input type="text" placeholder="Email (для оплаты)*" />
              </div>
            </div>
          </div>
          <div class="address">
            <div class="contacts-title">Адрес доставки</div>
            <div class="adress-fields">
              <div class="address-item">
                <input
                  type="text"
                  style="width: 35%"
                  class="address-input"
                  placeholder="Город"
                />
                <input
                  type="text"
                  style="width: 75%"
                  class="address-input"
                  placeholder="Адрес"
                />
              </div>
              <div class="address-item">
                <input
                  type="text"
                  style="width: 60%"
                  class="address-input"
                  placeholder="Улица"
                />
                <input
                  type="text"
                  style="width: 20%"
                  class="address-input"
                  placeholder="Подъезд"
                />
                <input
                  style="width: 20%"
                  type="text"
                  class="address-input"
                  placeholder="Квартира"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="paymethod">
          <div class="contacts-title">Способ оплаты</div>
          <div class="paymethod-cardlist">
            <div class="paymethod-card">
              <div class="card-text">
                <div class="card-title">Онлайн</div>
                <div class="card-subtitle">
                  Безопасная оплата банковской картой онлайн
                </div>
              </div>
              <label class="radio-container">
                <input type="radio" checked="checked" name="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="paymethod-card">
              <div class="card-text">
                <div class="card-title">Онлайн</div>
                <div class="card-subtitle">
                  Безопасная оплата банковской картой онлайн
                </div>
              </div>
              <label class="radio-container">
                <input type="radio" checked="checked" name="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="paymethod-card">
              <div class="card-text">
                <div class="card-title">Онлайн</div>
                <div class="card-subtitle">
                  Безопасная оплата банковской картой онлайн
                </div>
              </div>
              <label class="radio-container">
                <input type="radio" checked="checked" name="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-sbmt">
          <div class="sbmt">Оформить заказ</div>
        </div>
      </form>
    </div>
  </div>
</div>
