<div class="searchresult">
  <div class="container">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="search-header">
      <div class="search-header-text">
        По запросу “Iphone14” найдено <span>176 товаров</span>
      </div>
      <div class="search-header-controls">
        <div class="control active">
          <svg-icon
            style="display: flex"
            src="/assets/showtable.svg"
          ></svg-icon>
        </div>
        <div class="control">
          <svg-icon
            style="display: flex"
            src="/assets/showcards.svg"
          ></svg-icon>
        </div>
      </div>
    </div>
    <div class="search-result-block">
      <div class="filter-block">
        <app-filter></app-filter>
      </div>

      <!-- <div class="search-result-products">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>

        <app-card></app-card>
        <app-card></app-card>
      </div> -->

      <div class="search-result-products-table">
        <app-productrow></app-productrow>
        <app-productrow></app-productrow>
        <app-productrow></app-productrow>
        <app-productrow></app-productrow>
        <app-productrow></app-productrow>
        <app-productrow></app-productrow>
        <app-productrow></app-productrow>
      </div>
    </div>

    <div class="recentviews">
      <app-recentviews></app-recentviews>
    </div>
  </div>
</div>
