<div class="filter">
  <div class="filter-categories">
    <div class="categories-title secondary-title">Все категории</div>
    <div class="categories-links">
      <a href="">Компьютеры и Ноутбуки <span>(1)</span></a>
      <a href="">Компьютеры и Ноутбуки <span>(1)</span></a>
      <a href="">Компьютеры и Ноутбуки <span>(1)</span></a>
      <a href="">Компьютеры и Ноутбуки <span>(1)</span></a>
    </div>
  </div>
  <div class="filter-details">
    <div class="details-title secondary-title">Фильтры</div>
    <div class="details-item">
      <div
        class="collapse-btn"
        data-bs-toggle="collapse"
        href="#priceCollapse"
        role="button"
        aria-expanded="true"
        aria-controls="priceCollapse"
      >
        <div class="collapse-icon">
          <svg-icon class="icon" src="/assets/triangle.svg"></svg-icon>
        </div>
        <div class="item-title">Цена, ₽</div>
      </div>
      <div class="item-controls collapse show" id="priceCollapse">
        <div class="price">
          <div class="control">
            <input type="text" />
          </div>
          <div class="control">
            <input type="text" />
          </div>
        </div>
      </div>
    </div>
    <div class="details-item">
      <div
        class="collapse-btn"
        data-bs-toggle="collapse"
        href="#Producer"
        role="button"
        aria-expanded="true"
        aria-controls="Producer"
      >
        <div class="collapse-icon">
          <svg-icon class="icon" src="/assets/triangle.svg"></svg-icon>
        </div>
        <div class="item-title">Производитель</div>
      </div>
      <div class="item-controls collapse show" id="Producer">
        <label class="checkbox-container"
          >Logitech
          <input type="checkbox" value="Logitech" />
          <span class="checkmark"></span>
        </label>
        <label class="checkbox-container"
          >Logitech
          <input type="checkbox" value="Logitech" />
          <span class="checkmark"></span>
        </label>
        <label class="checkbox-container"
          >Logitech
          <input type="checkbox" value="Logitech" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>
</div>
