<div class="confirmation">
  <div class="container">
    <div class="confirmation-data">
      <h1 class="data-title">Ваши данные</h1>
      <div class="data-info">
        <div class="data-item">
          <div class="item-title">ФИО</div>
          <div class="item-subtitle">
            Константин Константинович Коностантинов
          </div>
        </div>
        <div class="data-item">
          <div class="item-title">Телефон</div>
          <div class="item-subtitle">8 777 513 88 99</div>
        </div>
        <div class="data-item">
          <div class="item-title">Email</div>
          <div class="item-subtitle">dasd@mail.ru</div>
        </div>
        <div class="data-item">
          <div class="item-title">Aдрес</div>
          <div class="item-subtitle">Москва, ул. Московская д.112 кв.1</div>
        </div>
        <div class="data-item">
          <div class="item-title">Cпособ оплаты</div>
          <div class="item-subtitle">Онлайн</div>
        </div>
      </div>
    </div>
    <div class="confirmation-cart">
      <div class="cart-title">Корзина <span>2 товара</span></div>
      <div class="cart-table">
        <div
          class="table-row d-flex align-items-center justify-content-between"
        >
          <div class="row-image">
            <img src="/assets/testcart.png" alt="" />
          </div>
          <div class="row-info">
            <div class="info-id">ID: 42223</div>
            <div class="info-title">
              Мышь Logitech G Pro X Superlight 55 SMART TV Super
            </div>
            <div class="info-subtitle">
              Беспроводная оптическая, 800dpi, USB, цвет: черный
            </div>
          </div>
          <div class="row-controls counter">
            <div class="control-result">1</div>
          </div>
          <div class="row-price">2400 ₽</div>
        </div>
        <div class="cart-bottom">
          <div class="result-btn">Оплатить</div>
          <div class="cart-result">
            Итого к оплате:
            <span> 25000 ₽ </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
