<div class="card">
  <div class="card-image">
    <img src="/assets/testprod.png" alt="" />
  </div>
  <div class="card-title">Мышь Logitech G Pro X Superlight 55...</div>
  <div class="card-price">24 000 ₽</div>
  <div class="card-controls mb-2 mt-2 d-flex flex-row align-items-center">
    <div class="buy-btn">
      <svg-icon
        [svgStyle]="{ 'width.px': 30, 'height.px': 30 }"
        class="buy-icon"
        src="/assets/cart.svg"
      ></svg-icon>
    </div>
    <div class="user-controls ms-3 d-flex flex-row align-items-center">
      <div class="compare-btn control">
        <svg-icon class="compare-icon" src="/assets/histogram.svg"></svg-icon>
      </div>
      <div class="favourite-btn ms-2 control">
        <svg-icon class="compare-icon" src="/assets/heart.svg"></svg-icon>
      </div>
    </div>
  </div>
</div>
