@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "Inter";
    src: url("./assets/font/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
}

:root {
    --primary-color: #ff005c;
    --secondary-color: #1a1a1a;
    --secondary-font-color: #7d7d7d;
    --border-color: #bcbcbc;
    --info-color: #dedede;
}

body,
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    font-size: 16px;
    color: var(--secondary-color);
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

.info {
    font-size: 18px;
    color: var(--info-color);
    font-weight: 700;
}

.link {
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: var(--primary-color) !important;
    }
}

.carousel-indicators {
    align-items: center;
}

.carousel-indicators [data-bs-target] {
    width: 8px; /* change width */
    height: 8px; /* change height */
    border: none;
    background-color: #fff;
    opacity: 1;
    border-radius: 100%;
    margin: 0px 40px;
    transition: 0.3s ease-in-out;
    &.active {
        background-color: var(--primary-color);
        width: 10px;
        height: 10px;
    }
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-color);
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
