<div class="product-row">
  <div class="container">
    <div class="product">
      <div class="product-image">
        <img src="/assets/testprod.png" alt="" />
      </div>
      <div class="product-info">
        <div class="product-id">ID: 42223</div>
        <div class="product-title">
          Мышь Logitech G Pro X Superlight 55 SMART TV Super
        </div>
        <div class="product-subtitle">
          Беспроводная оптическая, 800dpi, USB, цвет: черный
        </div>
      </div>
      <div class="product-end">
        <div class="price">
          <div class="price-info">2400 ₽</div>
          <div class="price-avaliable">Есть в наличии</div>
        </div>
        <div class="product-controls">
          <div class="add-btn">Добавить в корзину</div>
          <div class="compare-btn">
            <svg-icon src="assets/histogram.svg"></svg-icon>
          </div>
          <div class="like-btn">
            <svg-icon src="assets/heart.svg"></svg-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
