<div class="details">
  <div class="container">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="product">
      <h1 class="product-title col-8">
        Мышь Logitech Pro X Superlight Wireless Gaming White
        (910-005942/910-005943)
      </h1>
      <div class="product-info row justify-content-between">
        <div class="product-slider d-flex col-5">
          <div class="product-slider-list">
            <div class="slider-item">
              <img src="/assets/testprod.png" alt="" />
            </div>
            <div class="slider-item">
              <img src="/assets/testprod.png" alt="" />
            </div>
            <div class="slider-item">
              <img src="/assets/testprod.png" alt="" />
            </div>
            <div class="slider-item active">
              <img src="/assets/testprod.png" alt="" />
            </div>
            <div class="slider-item">
              <img src="/assets/testprod.png" alt="" />
            </div>
          </div>
          <div class="product-main-slide">
            <img src="/assets/testprod.png" alt="" />
          </div>
        </div>
        <div class="product-specs col-3">
          <div class="specs-id">ID: 442323</div>
          <div class="specs-title">Коротко о товаре</div>
          <div class="specs-item">
            <span>Тип соединения:</span> беспроводное
          </div>
          <div class="specs-item">
            <span>Тип соединения:</span> беспроводное
          </div>
          <div class="specs-item">
            <span>Тип соединения:</span> беспроводное
          </div>
          <div class="specs-btn">
            <a href="">Полные характеристики</a>
          </div>
        </div>
        <div class="product-buttons col-3">
          <h1 class="product-price">24 000 ₽ <span>В наличии</span></h1>
          <div class="product-control">
            <div class="control-icon">
              <svg-icon src="/assets/histogram.svg"></svg-icon>
            </div>
            <div class="control-text">Сравнить</div>
          </div>
          <div class="product-control">
            <div class="control-icon">
              <svg-icon src="/assets/heart.svg"></svg-icon>
            </div>
            <div class="control-text">В Избранное</div>
          </div>
          <div class="product-control">
            <div class="add-to-cart">Добавить в корзину</div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-details">
      <div class="product-specs-title d-flex">
        <h1 class="details-title">Характеристики</h1>
      </div>
      <div class="details-specs row">
        <div class="specs-block row col-6">
          <div class="specs-title">Основные</div>
          <div class="specs-names col">
            <div class="name">Производитель</div>
            <div class="name">Производитель</div>
            <div class="name">Производитель</div>
            <div class="name">Производитель</div>
            <div class="name">Производитель</div>
          </div>
          <div class="specs-value col-6">
            <div class="value">Logitech</div>
            <div class="value">(910-005942/910-005943)</div>
            <div class="value">Logitech</div>
            <div class="value">(910-005942/910-005943)</div>
            <div class="value">Logitech</div>
          </div>
        </div>
        <div class="specs-block row col-6">
          <div class="specs-title">Основные</div>
          <div class="specs-names col-4">
            <div class="name">Производитель</div>
            <div class="name">Производитель</div>
            <div class="name">Производитель</div>
            <div class="name">Производитель</div>
            <div class="name">Производитель</div>
          </div>
          <div class="specs-value col-8">
            <div class="value">Logitech</div>
            <div class="value">(910-005942/910-005943)</div>
            <div class="value">Logitech</div>
            <div class="value">(910-005942/910-005943)</div>
            <div class="value">Logitech</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
