<form action="">
  <div class="toggler">
    <div class="form-controls">
      <div class="control-title">Покупатель</div>
      <div class="control-items">
        <div class="item active">Частное лицо</div>
        <div class="item">Организация</div>
      </div>
    </div>
  </div>
  <div class="usercontacts">
    <div class="contacts">
      <div class="contacts-title">Контактные данные</div>
      <div class="contacts-fields">
        <div class="user-fields">
          <input class="input-control" type="text" placeholder="ФИО*" />
          <input class="input-control" type="text" placeholder="Телефон*" />
          <input
            class="input-control"
            type="text"
            placeholder="Email (для оплаты)*"
          />
        </div>
      </div>
    </div>
    <div class="address">
      <div class="contacts-title">Адрес доставки</div>
      <div class="adress-fields">
        <div class="address-item">
          <input
            type="text"
            style="width: 35%"
            class="input-control address-input"
            placeholder="Город"
          />
          <input
            type="text"
            style="width: 75%"
            class="input-control address-input"
            placeholder="Адрес"
          />
        </div>
        <div class="address-item">
          <input
            type="text"
            style="width: 60%"
            class="input-control address-input"
            placeholder="Улица"
          />
          <input
            type="text"
            style="width: 20%"
            class="input-control address-input"
            placeholder="Подъезд"
          />
          <input
            style="width: 20%"
            type="text"
            class="input-control address-input"
            placeholder="Квартира"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="paymethod">
    <div class="contacts-title">Способ оплаты</div>
    <div class="paymethod-cardlist">
      <div class="paymethod-card">
        <div class="card-text">
          <div class="card-title">Онлайн</div>
          <div class="card-subtitle">
            Безопасная оплата банковской картой онлайн
          </div>
        </div>
        <label class="radio-container">
          <input type="radio" checked="checked" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="paymethod-card">
        <div class="card-text">
          <div class="card-title">Онлайн</div>
          <div class="card-subtitle">
            Безопасная оплата банковской картой онлайн
          </div>
        </div>
        <label class="radio-container">
          <input type="radio" checked="checked" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="paymethod-card">
        <div class="card-text">
          <div class="card-title">Онлайн</div>
          <div class="card-subtitle">
            Безопасная оплата банковской картой онлайн
          </div>
        </div>
        <label class="radio-container">
          <input type="radio" checked="checked" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="form-sbmt">
    <div class="sbmt btn-control">Оформить заказ</div>
  </div>
</form>
